body, h5 {
   margin: 0;
   padding: 0;
   border: 0;
}
header {
   display: flex;
   justify-content: space-between;
   background-color: black;
   height: 50px;
   width: 100%;
   align-items: center;
}
.logo-name {
   font-family: Beach Resort;
   letter-spacing: 0.2em;
   font-size: 20px;
}
.logo-name a {
   color: ghostwhite;
   text-decoration: none;
}
.nav ul {
   display: flex;
   list-style: none;
}
.nav a {
   color: ghostwhite;
   text-decoration: none;
}
.nav li, .logo-name {
   padding: 0px 10px 0px 10px; /*Top, Right, Bottom, Left*/
}