body {
   background-color: ghostwhite; 
}
.menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-items a{
    text-decoration: none;
    color: black;
}
.logo {
    font-family: Beach Resort;
    font-weight: bold;
    font-size: 150%;
}
.push {
    margin-left: auto;
}